* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  color: white;
}

/* header */
header {
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  text-transform: uppercase;
  font-weight: 700;
}

header img {
  width: 80px;
  object-fit: contain;
}

header nav {
  display: flex;
  align-items: stretch;
  padding: 60px 0;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header ul li {
  margin: 0 10px;
  display: flex;
  align-items: center;

}

/* main */
main {
  background-color: black;
  padding: 60px 20%;
}


/* footer */
/* top part */
.blueline {
  padding: 50px 20%;
  background-color: #0282f9;
  display: flex;
  justify-content: space-between;
}

.bluelink {
  display: flex;
  align-items: center;
}

.bluelink img {
  max-height: 50px;
  object-fit: contain;
}

.bluelink p {
  text-transform: uppercase;
  font-size: small;
  padding-left: 10px;
  flex-shrink: 0;
}

/* center part*/
.linkutili {
  padding: 50px 20%;
  background-image: url(./assets/footer-bg.jpg);
}

.flex {
  display: flex;
  gap: 20px;
}

.flex ul {
  list-style: none;
}

.flex ul h3 {
  font-size: larger;
  text-transform: uppercase;
}

.flex ul li {
  color: grey;
  font-size: small;
}








a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}