* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #303030;
}

:root {
  font-family: "Open Sans", sans-serif;
  color: white;
}

/* header */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  text-transform: uppercase;
  font-weight: 700;
}

header img {
  width: 100px;
  object-fit: contain;
}

header nav {
  display: flex;
  align-items: stretch;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header ul li {
  margin: 0 10px;
  display: flex;
  align-items: center;

}

header ul li a {
  text-decoration: none;
  color: black;
  padding: 70px 0;
  border: 3px solid #ffffff;
}

/* jumbotron */

.jumbotron {
  height: 500px;
  width: 100vw;
  object-fit: cover;
  object-position: 0 5%;
  margin: 0;
  padding: 0;
}

/* main */
main {
  background-color: black;
  padding: 80px 20%;
}


/* footer */
/* top part */
.blueline {
  padding: 70px 20%;
  background-color: #0282f9;
  display: flex;
  justify-content: space-between;
  gap: 7%;
  position: relative;
  z-index: 2;
}

.bluelink {
  display: flex;
  align-items: center;
}

.bluelink img {
  max-height: 50px;
  object-fit: contain;
}

.bluelink a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
  padding-left: 10px;
  flex-shrink: 1;
  white-space: nowrap;
}

/* center part*/
.linkutili {
  padding: 50px 20%;
  background-image: url(./assets/footer-bg.jpg);
  position: relative;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex ul {
  list-style: none;
}

.flex ul h3 a {
  text-decoration: none;
  font-size: larger;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: grey;
}

.flex ul li a {
  text-decoration: none;
  color: grey;
  font-size: small;
}

.linkutili img {
  max-height: 600px;
  position: absolute;
  top: -100px;
  right: 20%;
}

/* bottom part */
.bottom {
  padding: 50px 20%;
  position: relative;
  z-index: 2;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
}

.followus {
  display: flex;
  align-items: center;
  gap: 20px;
}

.followus h4 {
  color: #0282f9;
  text-transform: uppercase;
  font-size: larger;
  padding-right: 10px;
  flex-shrink: 0;
}


/* interactive */
header a:hover {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}

.flex ul li a:hover {
  color: #ffffff;
}

.flex ul h3 a:hover {
  color: #ffffff;
}

button {
  border: 2px solid #0282f9;
  background-color: #303030;
  color: white;
  font-weight: 700;
  font-size: large;
  padding: 10px 15px;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffffff;
}

.followus img:hover {
  filter: brightness(0) invert(1)
}